<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bitmap json font</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/balm-ui@next/dist/balm-ui.css" />
</head>

<body>

    <div id="app">

        <div class="demo-container">
            <!-- Drawer -->
            <ui-drawer viewport-height>
                <ui-drawer-header>
                    <ui-drawer-title>{{ current.name }}</ui-drawer-title>
                    <ui-drawer-subtitle>{{ current.code }}</ui-drawer-subtitle>
                    <canvas width="256" height="64" style="border: solid 1px black;margin-left:-18px;" id="canvas"></canvas>
                </ui-drawer-header>
                <ui-drawer-content>
                    <ui-nav>
                        <ui-nav-item id="destsList" v-for="dest in dests" :key="dest.code" @click="selectCurrent(dest)">
                            {{dest.code}}.{{dest.name}}</ui-nav-item>
                        <ui-textfield input-type="number" v-model="addDestCode" v-on:keyup.enter="addDest(addDestCode)">add
                            dest</ui-textfield>
                    </ui-nav>
                </ui-drawer-content>
            </ui-drawer>
            <!-- Content -->
            <div class="demo-content">
                <!-- App bar -->
                <ui-top-app-bar class="demo-app-bar" content-selector=".demo-app-content" :nav-icon="false">
                    kpp dev
                </ui-top-app-bar>
                <!-- App content -->
                <div class="demo-app-content">

                    <section v-show="current.code">
                        <ui-textfield id="dest" v-model="current.name">dest</ui-textfield>

                        <img src="data/overlayImage.png" id="overlayImage" style="display: none;">
                        <canvas width="1024" height="256" style="border: solid 1px black;" id="previewCanvas"></canvas>
                        
                        <hr>
                        <h4>front text</h4>
                        <ui-textfield v-model="current.front.text" id="frontText" v-on:keyup="writeFrontText()" @change="saveCurrentIntoDests()">front text</ui-textfield>

                        <hr>
                        <ui-select v-model="selectedFont" :options="fontList" @change="loadFont(selectedFont)" id="fontSelector"></ui-select>

                        <ui-icon-button icon="delete" @click="deleteDest(current.code)"></ui-icon-button>
                    </section>

                    <section v-show="!current.code" style="width: 100%;text-align: center;">
                        <ui-icon style="font-size: 15rem;color: grey;">add_circle_outline</ui-icon>
                        <p>Start by select a destination ou create it in the side nav.</p>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/balm-ui@8.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/balm-ui@8.0.0/dist/balm-ui-plus.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas2image@1.0.5/canvas2image.min.js"></script>
    <script src="data/script.js"></script>

</body>

</html>