.demo-app-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.menu-content {
    position: relative;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
}

input[type=color] {
    cursor: pointer;
}